body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#menu {
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: black;
    color: white;
}

#logo {
    padding: 20px;
}

#menu-items {
    padding: 20px;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
}

#filters {
    margin-top: 20px;
}

#projects-container {
    position: absolute;
    left: 20%;
    width: 80%;
    height: 100%;
    overflow-y: scroll;
}

.project {
    padding: 20px;
    cursor: pointer;
}

#project-page {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: left 0.5s;
    overflow-y: scroll;
}

.project-image {
    width: 100%;
}

.project-title {
    font-size: 24px;
    margin: 10px 0;
}

.project-description {
    margin-bottom: 20px;
}

.arrow {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

#project-indicators {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.project-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #888;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.project-indicator.active {
    background-color: #333;
}
